th, td {
    width: 180px;
    text-align: center;
}

th:nth-child(2), td:nth-child(2) {
    width: 25px;
}

input {
    width: 70px;
    height: 40px;
    padding: 0;
}

input#color-picker {
    cursor: pointer;
}
